/* line 1, /Users/masonscott/Workspace/yhwhapparel/app/assets/stylesheets/enter.css.scss */
body {
  margin: 0 0 0 0;
}

/* line 5, /Users/masonscott/Workspace/yhwhapparel/app/assets/stylesheets/enter.css.scss */
#enter-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(/2017/04/enter.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  font-family: Lato, sans-serif;
}
/* line 33, /Users/masonscott/Workspace/yhwhapparel/app/assets/stylesheets/enter.css.scss */
#enter-div a {
  font-size: 150%;
  border: 3px solid black;
  padding: 20px 50px 20px 50px;
  color: black;
  text-decoration: none;
}
