<p>In the midst of all the tragic events happening in the world, we can easily find ourselves confused or dazed. 
We might feel helpless or incapable of doing anything, or maybe we might be crying out in pain as we call for change. Maybe we are trying to detach ourselves from any feeling as in attempt to convince ourselves that “life is life” and that is just the way it is. Regardless, we are all responding, in one way or another.</p>
<p>Because truth is, it hurts. We know that. It hurts when we hear of the innocent dying or when we see it on the news; didn’t they have so much more to live?</p>
<p>And it shouldn’t be like this. We get angry at the injustice, because fair no longer seems to be fair in this world.
And we don’t know if we can do anything, though we so want to.</p>
<p>We’re afraid of silence and we fear the unspoken, but at the same time, we’re speechless for the right words. 
What is the right response?</p>

<p>In times like this, is there even an adequate response? Is there even any way to encompass all that we might feel or even a fraction of what is happening in this world? </p>
<p>But for us, we have peace. We find peace because of our Hope. This hope is what carries us through each day so that regardless of any external circumstances, we are confident in a day far better than any day here could be. We are confident in a firm Truth and Goodness that cannot be shaken. 
So we’d like to challenge you. We want to know, “What gives you hope?” Let’s create a movement of hope that shakes up this culture at hand. One that might bring a bright light to this darkness.</p>
<p>Share your response on FB or Instagram, and tag us @YHWHApparel. We will be giving our apparel to those who join us in challenging themselves to spread hope. To be entered in our HOPE giveaway, you must tag us and include the hashtag #HopeMovement. For an extra entry, tag 3 friends to take on the challenge. The giveaway ends 11:59 PM on August 17th, 2016.</p>
