<div class="col-xs-7 col-sm-5 col-md-4" id="staff-bio-col">
  <div id="staff-bio">
      <img id="staff-img" class="responsive" src="<%= img_link %>" alt="">
      <div id="staff-description">
        <p id="staff-title"><%= title %></p>
        <p id="staff-name"><%= name %></p>
      </div>
  </div>
</div>
