<div class="container">
  <h3>Mission &amp; Vision</h3>
  <hr>
  <div class="row">
  <div class="col-md-6">
  <p>
     YHWH was created out of a love made known, a need that was seen, and a call
     that was heard (Psalm 107) YHWH is the tetragrammaton of one of the names of
     God, often spoken as "Yahweh" (Exodus 3:14). It was (and still is, by certain groups)
     regarded too holy to be spoken.
  </p>
  <p>Our desire is simply to share the goodness and truth of the Gospel. To tell
    the world of the beautiful name of God that they may seek and find that He is
    Lord and that they may discover the unconditional love that is for them.</p>
  <p>Our vision is to speak truth through our apparel, empowering people to express
    their identity as children of the Most High King, and to encourage believers to
    be bold as they carry the name of their Lord, not only on their shirts, but on
    their hearts. It is also a call to live a life of consistency before our God.</p>
  <p>Check out this video to hear more about the inspiration behind YHWH Apparel and
    the vision we strive towards.</p>
  <p>If you would like to join our team or start your own YHWH Apparel chapter at your college, please
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMdqvBzU8k5-FILl4i8__T0G3PF3gtzQLm8WSJJH7BJ4jjDA/viewform?usp=sf_link" target="_blank"> apply </a>
    here, or visit
    <a href="https://docs.google.com/document/d/1B3CdrXdPYRGqFqx-JT66S5ZHQkAax_-ad5X2-1U5tk8/edit?usp=sharing" target="_blank"> here </a>
    for more info.
  </div>
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rej9vc7i__4" frameborder="0"></iframe>
    </div>
  </div>
  </div>
  <%= render "staff_bios" %>
</div>
