<div class="container">
	<hr>
	<p style="text-align: center;">
	   YHWH was created out of a love made known, a need that was seen, and a call that was heard (Psalm 107).
	   YHWH is the tetragrammaton of one of the names of God, often spoken as "Yahweh" (Exodus 3:14). It was (and still is, by certain groups) regarded too holy to be spoken.
	</p>
	<hr>
  	<h3 style="text-align: center;">MISSION &amp; VISION</h3>
	<p>
	   Our desire is simply to share the goodness and truth of the Gospel. To tell the world of the beautiful name of God that they may seek and find that He is Lord and that they may discover the unconditional love that is for them.
	   <br><br>
	   Our vision is to speak truth through our apparel, empowering people to express their identity as children of the Most High King, and to encourage believers to be bold as they carry the name of their Lord, not only on their shirts, but on their hearts. It is also a call to live a life of consistency before our God.
	</p>
</div>

<div class="container" align="center">
	<hr>
	<h3>STAFF</h3>
	<br>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles-8.jpg" alt="">
				<div class="overlay">
					<p>Serena is in her second year of UC Berkeley, majoring in Business Administration and minoring in Education. She loves to play basketball, eat cake, and wiggle to the beat of music, because she’s more of a wiggler than a coordinated dancer. She likes to watch The Office, We Bare Bears, NBA [Shout out to GSW &amp; Jeremy Lin] and the sunset. She hopes that God will use YHWH for His glory, to ignite a movement in Berkeley that exposes God's love for His people. She finds her identity solely a child of God. (2 Corinthians 5:17)</p>
				</div>
			</div>
	      	<p>Founder &amp; CEO</p>
	      	<p>Serena Wang</p>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles-4.jpg" alt="">
				<div class="overlay">
					<p>Jocelyn is in her second year at UC Berkeley majoring in Chemical Engineering. She finds God’s gift of unending joy in lettering, watercoloring, hiking, learning, and admiring cities from rooftops. God is her father, provider, teacher and best friend; He is the center of it all. (Proverbs 3:5-6)</p>
				</div>
			</div>
			<p>Graphic Design</p>
      		<p>Jocelyn Kim</p>
      	</div>
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles-3.jpg" alt="">
				<div class="overlay">
					<p>Hye-Min is a graduate from UCLA with a B.S. degree in Psychobiology. She now works as a Technical Recruiter at The Sourcery in San Francisco. She likes to eat, design, explore, and go on spontaneous adventures. Forever learning and growing. (Proverbs 19:21)<br><br>
            		Check out her rad <a href="https://www.facebook.com/hyemindesigns/"><u>designs</u></a>!</p>
            	</div>
            </div>
            <p>Graphic Design</p>
            <p>Hye-Min Oh</p>
		</div>	
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles-9.jpg" alt="">
				<div class="overlay">
					<p>Judy is in her second year at UTS (University of Technology, Sydney) studying Design. She aspires to be an illustrator in the future, and in her spare time she creates <a href="https://www.instagram.com/judy.co/"><u>Christian graphics</u></a> to glorify God in what she loves to do. She enjoys drawing, dry jokes and spontaneous trips. As a growing Christian, she learns of God's abounding providence and goodness day by day.</p>
				</div>
			</div>
			<p>Graphic Design</p>
			<p>Judy Dao</p>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles-6.jpg" alt="">
				<div class="overlay">
					<p>Yumi is currently a sophomore at UC Berkeley studying Political Science and Economics. She loves exploring new restaurants, learning new languages, and dancing. Coming from a suburban neighborhood in Maryland, she fell in love with the city lights at San Francisco. She is constantly blessed by the team that seeks to help others and is excited to see how God will use YHWH to do greater things for His kingdom. (Psalm 9:1)</p>
				</div>
			</div>
			<p>Operations</p>
			<p>Yumi Ko</p>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles.jpg" alt="">
				<div class="overlay">
					<p>Dominic is a first year at UC Berkeley and intends to major in Operations Research and Management Science. Jesus is his best friend and he loves to experience Jesus’ love and joy through learning about history, playing sports, eating Taiwanese food, being outside, and watching/reading Lord of the Rings and Star Wars. He is excited to be at UC Berkeley and to participate in Jesus’ plan for Berkeley.</p>
				</div>
			</div>
			<p>Operations</p>
			<p>Dominic Fannjiang</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles-10.jpg" alt="">
				<div class="overlay">
				</div>
			</div>
			<p>Graphic Design</p>
			<p>Harmony Wong</p>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/jacinta.jpg" alt="">
				<div class="overlay">
					<p>Jacinta is a second year at UC Berkeley studying Business and Global Poverty. She strives to make a meaningful difference in the world through her entrepreneurial pursuits and loves to learn new languages and study how people work. In her spare time, you can find her dabbling in various art forms, making bad puns/weird noises, and quoting obscure lines from Broadway’s Cathy Rigby is Peter Pan. She is beyond excited to combine her career passions with a cause she so fervently believes in—spreading the love of Jesus. (Matthew 14:27)</p>
				</div>
			</div>
			<p>Marketing</p>
			<p>Jacinta Lu</p>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles-2.jpg" alt="">
				<div class="overlay">
					<p>Mary is a second year intending to study business administration or public health. She likes listening to Switchfoot, KB, Owl City, and most things in between. She likes eating Indian, Thai, Vietnamese, Chinese, Mexican, Korean, Japanese, Persian, Cuban, Italian, and most other foods. She likes exploring, walking, hiking, and taking photos of her surroundings while doing those three. Mary hails from Southern California (the place to be) and wishes you a beautiful day. She seeks to love people because God loved her first. (1 John 4:19)</p>
				</div>
			</div>
			<p>Marketing</p>
			<p>Mary Ho</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-6 col-md-4 col-xs-offset-2">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles-7.jpg" alt="">
				<div class="overlay">
					<p>Charissa is a college student in the process of discovering who she was made to be. She likes to yell at the tv and eat good food. She likes to listen to music (current obsession jbiebs), stare at people, travel, get lost, and sit in awkward silence. She’s scared of heights and gets queasy legs. But she loves adventure. She hopes to adventure with Jesus every day of this life.<br><br>
            Only by His grace, I am.</p>
				</div>
			</div>
			<p>Community Outreach</p>
			<p>Charissa Liu</p>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="hovereffect">
				<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/03/profiles-5.jpg" alt="">
				<div class="overlay">
					<p>Mason is in his second year at UC Berkeley studying Computer Science and Cognitive Science. He finds immense joy in using his interests in photography and music to serve others however God may use him. When he’s not programming, he enjoys exploring the city and discovering cafes and going to indie concerts. He is extremely humbled and blessed by a team that fervently pursues Jesus so faithfully.</p>
				</div>
			</div>
			<p>Web Development &amp; Photography</p>
			<p>Mason Chan Scott</p>
		</div>
	</div>
</div>