<div class="container">
	<h3>Community Outreach</h3>
	<hr>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-9 col-md-6">
			<h4> SF City Impact </h4>
			<a href="http://sfcityimpact.com/"><img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/04/sfcityimpact_banner.jpg" alt="" width="97%" height="97%"></a>
			<br/>
			<br/>
			<p>San Francisco City Impact is a Christian non-profit organization and church based in the heart of the Tenderloin District of San Francisco, whose purpose is to intervene.</p>
			<p>The Tenderloin is regarded as one of the poorest, most crowded, and most dangerous areas in all of San Francisco but City Impact works to minister to the people of the inner-city by bringing about the light and truth of the gospel. They are a church that lives out the Word and loves their neighbors.</p>
			<p>Join us in partnering with them through our finances, prayer, and action.</p>
		 	<p> You can learn more about the ministries they have and how you can join in at <a href="http://sfcityimpact.com/">sfcityimpact.com</a></p>

		</div>

		<div class="col-xs-9 col-md-6">
			<h4> Laundry Love Project Berkeley </h4>
			<p>Laundry Love is all about sharing the Love of Christ in a tangible way with the community of Berkeley.</p>
			<p>Every last Tuesday of the month, we host Laundry Love at Bing Wong Wash Center at 2602 Telegraph Ave. and provide for anyone who comes with quarters and detergent to do their laundry. But more than just that, we want to build relationships with the people here in Berkeley, forming friendships that will last for a lifetime!</p>
			<p>Check out their <a href="https://laundryloveprojectberkeley.wordpress.com/">wordpress</a>!</p>
			<a href="https://laundryloveprojectberkeley.wordpress.com/"><img class="responsive" src="https://laundryloveprojectberkeley.files.wordpress.com/2015/11/laundry-love-andrew-song-prayer.jpg" alt="" width=90% height="90%"></a>
		</div>
	</div>
</div>

