<div class="container">
	<h3>Community Outreach</h3>
</div>

<br/>

<div class="container text-center">
	<img class="responsive" src="https://yhwhapparel.files.wordpress.com/2016/04/sfcityimpact_banner.jpg" alt="" width="95%" height="95%">
</div>

<br/>

<div class="container">
	<p>
	San Francisco City Impact is a Christian non-profit organization and church based in the heart of the Tenderloin District of San Francisco, whose purpose is to intervene.<br/>
 	<br/>
	The Tenderloin is regarded as one of the poorest, most crowded, and most dangerous areas in all of San Francisco but City Impact works to minister to the people of the inner-city by bringing about the light and truth of the gospel. They are a church that lives out the Word and loves their neighbors.<br/>
 	<br/>
	Join us in partnering with them through our finances, prayer, and action.<br/>
 	<br/>
	You can learn more about the ministries they have and how you can join in at <a href="http://sfcityimpact.com/">sfcityimpact.com</a>
	</p>
</div>
