<div class="container">
	<h3>Missions</h3>
	<p> In the book of Matthew, Jesus commands us to go and make disciples of all nations.
			More than simply through the clothing we wear or produce, YHWH Apparel wants
			to take up this call in action alongside the rest of the Church. And YOU are
			the Church! As you labor for the Lord, we want to partner with
			you and support you in the specific mission God has given you. As you are
			faithful to your part, we also want to be faithful with what God has given us. </p>
	<p> If you are going on a mission trip and are interested or simply just want a prayer
			partner, please fill out the
			<a href="https://drive.google.com/open?id=15JkJDS9cNSiI48wOxErDCtWEZSY4INU8gFglkYYZPuc" target="_blank"> Funding Interest Form.</a>
			Also, if you do want others to be in prayer with you, consider posting on our
			<a href="/prayers"> Prayer Wall</a>!</p>
	<hr>
</div>

<div class="container missionaries">
	<h4> Sponsored Missionaries </h4>
	<div id="missionary-intro">
		<p> Here are some friends that you’ve supported who have
				gone or are going somewhere on short term missions in response to this call of Jesus.
				Join us in praying for these individuals and the people they come across that the love of God would be known. </p>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/briana-e1492731344151.jpg"/>
		</div>
		<div clas="col-md-8">
			<h4> Briana </h4>
			<p> Dublin, Ireland </p>
			<p> Mar 25, 2017 - Apr 1, 2017 </p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/18053095_1471105739608673_669146787_o.jpg"/>
		</div>
		<div clas="col-md-8">
			<h4> Isabella </h4>
			<p> Greece </p>
			<p> May 19, 2017 - June 1, 2017 </p>
		</div>
	</div>


</div>
