<div class="container">
	<div  class="row">
		<h2> Journey Collection </h2> <p> Released March 2016 </p>
		<p> JOURNEY is of special significance to us as a team because it’s an intimate
		representation of what we each struggle with in our daily lives. Sometimes
		we get lost in the monotony of our studies and work; other times we find
		ourselves drowning in exhaustion and in our own imperfection. JOURNEY
		represents God’s grace; when we struggle, He has enabled His beloved to
		approach him boldly and to find endurance, joy, and strength through prayer. </p>
		<div class="col-md-12">
			<div class="row design-row">
				<div class="col-md-3">
					<img id=" identity-img" class="img-responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/identity.png"/>
				</div>
				<div class="col-md-9">
					<h4> Identity Coach's Jacket </h4>
					<p> We say we’re athletes, artists, students. We identify ourselves by
						personality type, and pride ourselves in being perceived as polite,
						kind, good looking, well-liked. We tell the world we go to this college,
						we’re dating that person; we justify our success in our grades, our education,
						our internships, our jobs. We say, “Look at where I've been. Look at what
						I've done, and who I’ll surely become. This is who I am.” </p>
					<p> But at the core of it all, who are we really? </p>
					<p> When we grow up, and find ourselves without the comfort of our parents.
						When our bones and muscles weaken, when our brains can no longer function
						at the same level of creativity, when the things that once excited us
						begin to dull. When suddenly our personality or friends or circumstances
						are no longer the same as they once were. When our grades make us feel
						inadequate and we face rejection after rejection. And when we realize
						that all which we once used to validate ourselves with is only temporal.</p>
					<p> When there is nothing left of ourselves that we can say or boast of. </p>
					<p> Know what you are. Know who you are. Know Whose you are.
						You are defined by the Maker. </p>
				</div>
			</div>
			<div class="row design-row">
				<div class="col-md-3">
					<img id="lion-img" class="img-responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/lion.png"/>
				</div>
				<div class="col-md-9">
					<h4> Lion T-Shirt </h4>
					<p> Beautiful, majestic King. He rules with grace, even when we cannot
						fathom the depths of His grace. He is powerful and strong. When He roars,
						the Earth trembles at His might. He is gentle. His heart longs for intimacy
						with His people. He is the Lion of Judah, whose kingship was demonstrated
						through His conquering of sin and death at the cross. The Lion. The Lamb
						who was slain, so that we may spend eternity with Him. He gives boldness
						to those who believe in Him, that they may have courage to overcome,
						saying “Fear not, for I am with you.” He has absolute dominion and rules
						the heavens and the earth. He has created a kingdom, and has called us
						to be co-heirs with Christ. He is the King of Glory, worthy to be praised.
						Holy, righteous, and bold. </p>
				</div>
			</div>
			<div class="row design-row">
				<div class="col-md-3">
					<img id="mountain-img" class="responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/mountain.png"/>
				</div>
				<div class="col-md-9">
					<h4> Mountains Baseball Cap </h4>
					<p> Mountains are often associated with sheer might--the idea that if only
					we had enough power, we could move huge obstacles. When we face trials
					that seem to exceed our strengths, let us instead surrender our
					inabilities at the feet of our Father, whose strength is made perfect
					in our weakness. From a distance, our daunting challenges seem unshakeable,
					but when we patiently put our trust in God and approach with His full confidence,
					we will begin to see how far He has moved our mountains. </p>
					<p> When we see this mountain, it should symbolize surrender, not
						personal strength or will. Though counterintuitive, the source of our
						strength is not within ourselves, but found and made stable in God. As
						Christians, we can rest assured in knowing that God will be moving the
						mountains for us--that it’s not about what we can do, but what He can
						do with the little faith that we offer up to Him. </p>
				</div>
			</div>
		</div>
	</div>
  <hr>
		<div class="row design-row">
			<h2> YHWH Classic </h2>
			<p> Released October 2015 </p>
			<div id="yhwh-row" class="col-md-3">
				<img id="yhwh-img" class="responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/yhwh.png"/>
			</div>
			<div class="col-md-9">
				<p>For our first product, we wanted to establish our hope for YHWH
					Apparel: to proclaim the name of God. From beginning to the end, this is
					about our God. He is more than enough.</p>
				<p>Yahweh, the Hebrew name of God, translates to "I am who I am"
					(Exodus 3:14). We proclaim His holy name because He first beckoned us
					and He calls us His children.</p>
				<p>Don't simply wear this name on your chest. Take up your identity as a
					child of God. Wear it on your heart. Convey it in your words and actions.</p>
			 	<p>You are wearing the name of the Most High King. What will you say?
					What will you do?</p>
			</div>
		</div>
</div>
