<div class="container">
	<h3>Designs</h3>
	<hr>
	<div class="design-descriptions">
		<div class="row design-row">
			<div class="col-md-3">
				<img class="img-responsive left-block" src="/identity.png" width="200"/>
			</div>
			<div class="col-md-9">
				<h4> Identity Coach's Jacket </h4>
				<p>As the things of this world pass away, let us place our identites in
					the One who never fades. Know what you are. Know who are. Know whose you
					 are. You are defined by the maker.</p>
			</div>
		</div>
		<div class="row design-row">
			<div class="col-md-3">
				<img class="img-responsive left-block" src="/lion.png" width="200"/>
			</div>
			<div class="col-md-9" style="margin-top: 55px; margin-bottom: 55px; ">
				<h4> Lion T-Shirt </h4>
				<p>The Lion of Judah, who is simultaneously gentle and bold, abundantly
					gracious, and perfectly righteous - this is our God, who has complete
					dominion, yet draws us near to Him to crown us as His own.</p>
			</div>
		</div>
		<div class="row design-row">
			<div class="col-md-3">
				<img class="responsive left-block" src="/mountain.png" width="200"/>
			</div>
			<div class="col-md-9">
				<h4> Mountains Baseball Cap </h4>
				<p>This mountain reminds us of God's faithful power in the midst of our
					biggest trials. It's not about what we can do, but what He can do
					with what little faith that we offer up to Him.</p>
			</div>
		</div>
		<div class="row design-row">
			<div class="col-md-3">
				<img class="responsive left-block" src="/yhwh.png" width="200"/>
			</div>
			<div class="col-md-9">
				<h4> YHWH Classic Sweater </h4>
				<p>For our first product, we wanted to establish our hope for YHWH
					Apparel: to proclaim the name of God. From beginning to the end, this is
					about our God. He is more than enough.</p>
				<p>Yahweh, the Hebrew name of God, translates to "I am who I am"
					(Exodus 3:14). We proclaim His holy name because He first beckoned us
					and He calls us His children.</p>
				<p>Don't simply wear this name on your chest. Take up your identity as a
					child of God. Wear it on your heart. Convey it in your words and actions.</p>
			 	<p>You are wearing the name of the Most High King. What will you say?
					What will you do?</p>
			</div>
		</div>
	</div>
</div>
