<div class="container designs-body">
	<div class="row design-row">
		<h2> Selah </h2>
		<p> Released April 2017 </p>
		<div class="col-md-3">
			<img class="img-responsive" src="https://yhwhapparel.files.wordpress.com/2017/05/1.png"/>
		</div>
		<div class="col-md-9">
			<p> SELAH means to “pause and praise,” carefully weighing the value of what
				 has just been said. Our team created SELAH to remind ourselves to have a
				 posture of measuring the weight of the Word, pausing, and turning it back
				 into praise. </p>
		</div>
	</div>
	<div class="row design-row">
		<h2> Seek </h2>
		<p> Released April 2017 </p>
		<div class="col-md-3">
			<img class="img-responsive" src="https://yhwhapparel.files.wordpress.com/2017/04/seek27-e1492903081150.png"/>
		</div>
	  <div class="col-md-9" id="seek-desc">
			<input type="checkbox" class="read-more-state" id="post-1" />
			<span class="read-more-wrap">
				<p> To seek. </p>
		    <p> Is to search after. </p>
			  <p> When the waves seem to be rising faster. When our heart seems tossed around.
					When we feel like we keep hitting the same wall over and over again. When there’s no
					improvement. In him. In her. In us. It leaves us tired and weary, beaten down. </p>
		   	<p> But in times like this, we MUST remind ourselves of His promises. Even if our
					mind can recite it, our heart may not truly believe it. But by praying and declaring
					His promises for us, we are speaking TRUTH over ourselves, so that darkness and hopelessness
					will not overcome us. </p>
				<span class="read-more-target">
					<p> It’s tough. There’s no denying it. Things are jagged, crooked, broken, sharp.
						We get hurt, exhausted, frustrated. But what do we do when we keep getting knocked down? </p>
					<p> We must SEEK His presence, in all circumstances. Even if we don’t feel like
						He’s for us in our current season, we can place our trust in Him because of His
						faithfulness.
						When it seems like we’re drowning, we must be all the more desperate to
						get a glimpse of His face again. To hear just one sweet word for encouragement,
						a word that is sweeter than honey. To claw our way to the truth, because there
						are many things trying to prevent us from getting to God. In all circumstances, we must SEEK Him
						continually, because He doesn’t change.</p>
			    <p> We must SEEK until we are in His presence. When we are abiding in His love, we
						are able to understand how loved we are. In that moment,
						everything is worth it, and at that point, there is nothing that separates us from the love of God -
						nothing in the heavens, nor in the Earth. We are in His wonderful presence. </p>
				  <p> Therefore, brothers and sisters, let us continue to seek at all times, for our God is exceedingly good.</p>
	    	</span>
			</span>
			<label for="post-1" class="read-more-trigger"></label>
		</div>
	</div>
	<hr>
	<div class="row design-row">
		<h2> Journey Collection </h2>
		<p> Released March 2016 </p>
		<p> JOURNEY is of special significance to us as a team because it’s an intimate
		representation of what we each struggle with in our daily lives. Sometimes
		we get lost in the monotony of our studies and work; other times we find
		ourselves drowning in exhaustion and in our own imperfection. JOURNEY
		represents God’s grace; when we struggle, He has enabled His beloved to
		approach him boldly and to find endurance, joy, and strength through prayer. </p>
		<div class="col-md-12">
			<div class="row design-row">
				<div class="col-md-3">
					<img id=" identity-img" class="img-responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/identity.png"/>
				</div>
				<div class="col-md-9">
					<h4> Identity Coach's Jacket </h4>
					<p> We say we’re athletes, artists, students. We identify ourselves by
						personality type, and pride ourselves in being perceived as polite,
						good looking, or well-liked. We tell the world we go to this college, or
						we’re dating that person; We say, “Look at where I've been. Look at what
						I've done, and who I’ll surely become. This is who I am.” </p>
					<p> But at the core of it all, who are we really? </p>
					<p> When we grow up, and find ourselves without the comfort of our parents.
						When our brains can no longer function at the same level of creativity,
						when the things that once excited us begin to dull. When suddenly our
						personality or friends or circumstances are no longer the same as they once were.</p>
					<p> When there is nothing left of ourselves that we can say or boast of. </p>
					<p> Know what you are. Know who you are. Know Whose you are.
						You are defined by the Maker. </p>
				</div>
			</div>
			<div class="row design-row">
				<div class="col-md-3">
					<img id="lion-img" class="img-responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/lion.png"/>
				</div>
				<div class="col-md-9">
					<h4> Lion T-Shirt </h4>
					<p> Beautiful, majestic King. He rules with grace, even when we cannot
						fathom the depths of His grace. </p>
					<p> He is powerful and strong. When He roars, the Earth trembles at His might.</p>
					<p> He is gentle. His heart longs for intimacy with His people. </p>
					<p> He is the Lion of Judah, whose kingship was demonstrated
						through His conquering of sin and death at the cross. He is the Lamb
						who was slain, so that we may spend eternity with Him. He gives boldness
						to those who believe in Him, that they may have courage to overcome,
						saying “Fear not, for I am with you.” He has created a kingdom, and has called us
						to be co-heirs with Christ. He is the King of Glory, worthy to be praised.
						Holy, righteous, and bold. </p>
				</div>
			</div>
			<div class="row design-row">
				<div class="col-md-3">
					<img id="mountain-img" class="responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/mountain.png"/>
				</div>
				<div class="col-md-9">
					<h4> Mountains Baseball Cap </h4>
					<p> Mountains are often associated with sheer might--the idea that if only
					we had enough power, we could move huge obstacles. When we face trials
					that seem to exceed our strengths, let us instead surrender our
					inabilities at the feet of our Father, whose strength is made perfect
					in our weakness. From a distance, our daunting challenges seem unshakeable,
					but when we patiently put our trust in God and approach with His full confidence,
					we will begin to see how far He has moved our mountains. </p>
				</div>
			</div>
		</div>
	</div>
  <hr>
		<div class="row design-row">
			<h2> YHWH Classic </h2>
			<p> Released October 2015 </p>
			<div id="yhwh-row" class="col-md-3">
				<img id="yhwh-img" class="responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/yhwh.png"/>
			</div>
			<div class="col-md-9">
				<p>For our first product, we wanted to establish our hope for YHWH
					Apparel: to proclaim the name of God. From beginning to the end, this is
					about our God. He is more than enough.</p>
				<p>Yahweh, the Hebrew name of God, translates to "I am who I am"
					(Exodus 3:14). We proclaim His holy name because He first beckoned us
					and He calls us His children.</p>
				<p>Don't simply wear this name on your chest. Take up your identity as a
					child of God. Wear it on your heart. Convey it in your words and actions.</p>
			 	<p>You are wearing the name of the Most High King. What will you say?
					What will you do?</p>
			</div>
		</div>
</div>
