<div class="container">
	<h2>Frequently Asked Questions</h2>
	<br>

	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#panel-one"> Where is the store based? </a>
				</h2>
			</div>

			<div id="panel-one" class="panel-collapse collapse">
				<div class="panel-body"> Berkeley, CA </div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#panel-two"> Is there a physical store I can visit? </a>
				</h2>
			</div>

			<div id="panel-two" class="panel-collapse collapse">
				<div class="panel-body"> No, we are operating solely as an online store. </div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#panel-three"> What is this store's return and exchange policy? </a>
				</h2>
			</div>

			<div id="panel-three" class="panel-collapse collapse">
				<div class="panel-body"> Unfortunately, we do not offer return and exchanges because our prices are specifically driven to be affordable to offer the most for customers, which includes reducing shipping costs. </div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#panel-four"> Do you accept orders placed outside of the US? </a>
				</h2>
			</div>

			<div id="panel-four" class="panel-collapse collapse">
				<div class="panel-body"> Right now, we do not accept orders outside of the US. </div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#panel-five"> How long will it take to receive my order? </a>
				</h2>
			</div>

			<div id="panel-five" class="panel-collapse collapse">
				<div class="panel-body"> Once shipped most domestic orders take anywhere from 1-3 business days, possibly longer depending on the efficiency of your local postal service. For pre-orders, it may take longer, as we wait to hit a quota before we place the orders with our supplier. </div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#panel-six">  What is the process for pre-orders? </a>
				</h2>
			</div>

			<div id="panel-six" class="panel-collapse collapse">
				<div class="panel-body"> For pre-ordered items, we estimate the time of placement to the time of arrival to be roughly around 2 weeks. For pre-ordered items, we place the order into production when we hit a quota, so the estimated time of arrival may fluctuate depending on how quickly that minimum number of orders is met. We thank you for your patience! </div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#panel-seven"> What is Storenvy? </a>
				</h2>
			</div>

			<div id="panel-seven" class="panel-collapse collapse">
				<div class="panel-body"> This store is created with Storenvy, an online store builder and marketplace for inspired brands. As a shopper, you can discover and buy items from multiple stores from all over the world and check out in one step at or open your own store for free. </div>
			</div>
		</div>	

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#panel-eight"> How do I pay for my order? Is it secure? </a>
				</h2>
			</div>

			<div id="panel-eight" class="panel-collapse collapse">
				<div class="panel-body"> The Storenvy checkout process is powered by both Stripe and PayPal, two of the most trusted online payment solutions on the web. Because of this, Storenvy has all the same securities and payment fraud protection as these leading payment processors. We accept Visa, Mastercard, Discover, American Express and Diners Club. If paying with PayPal, you may also make payments using your bank account, but this may delay your order. </div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#panel-nine"> What if something is wrong with my order? </a>
				</h2>
			</div>

			<div id="panel-nine" class="panel-collapse collapse">
				<div class="panel-body"> If you have a problem with an order from this store, please contact the store directly, either through the Contact page or through your Storenvy account settings page. </div>
			</div>
		</div>						
	</div>
</div>