<a href="/join_us"><img class="img-responsive center-block" src="https://yhwhapparel.files.wordpress.com/2017/06/yhwh-app-banner1.png"></a>

<div class="container ig-container text-center">
  <h1 align="left"> INSTAGRAM </h1>
  <hr>
  <div class="row" id="instagram">
  </div>
</div>

<script>
  <%= render partial: "ig.js.erb" %>
</script>
