<br>
<div class="container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" dada-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" dada-slide-to="1"></li>
			<li data-target="#myCarousel" dada-slide-to="2"></li>
			<li data-target="#myCarousel" dada-slide-to="3"></li>
		</ol>

		<div class="carousel-inner">
			<div class="item active">
				<a href="http://yhwhapparel.storenvy.com/collections/1290693-journey"><img src="https://yhwhapparel.files.wordpress.com/2016/03/home_slideshow_mountain.jpg" alt=""/></a>
			</div>

			<div class="item">
				<a href="http://yhwhapparel.storenvy.com/products/14971326-yhwh-the-classic"><img src="https://yhwhapparel.files.wordpress.com/2016/03/home_slideshow-3.jpg"/ alt=""></a>
			</div>

			<div class="item">
				<a href="http://yhwhapparel.storenvy.com/products/14973627-yhwh-sticker"><img src="https://yhwhapparel.files.wordpress.com/2016/04/slideshow.jpg"/ alt=""></a>
			</div>

			<div class="item">
				<a href="http://yhwhapparel.storenvy.com/products/14973627-yhwh-sticker"><img src="https://yhwhapparel.files.wordpress.com/2016/03/home_slideshow-4.jpg" alt=""/></a>
			</div>
		</div>

		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		</a>

		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
	<br>
	<hr>
</div>

<div class="container text-center">
	<h4>Check out this video to hear the inspiration behind YHWH Apparel and the vision we strive towards.<br><br>This is us, and it's all for YHWH.</h4>
	<br>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe width="480" height="270" src="https://www.youtube.com/embed/rej9vc7i__4" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
