<br>
<div class="container text-center">
<a href="http://yhwhapparel.storenvy.com/products"><img src="https://yhwhapparel.files.wordpress.com/2016/09/14182171_10205438234954731_166421592_n.jpg" alt=""></a>
</div>

<%= render "home/hope_modal" %>
