<div id="home-container" class="container ig-container text-center">
  <div class="home-banner">
    <img src="https://yhwhapparel.files.wordpress.com/2017/10/hurricane-maria-fundraiser.png" alt=""/>
  </div>
  <hr>
  <div class="row" id="instagram">
  </div>
</div>

<script>
  <%= render partial: "ig.js.erb" %>
</script>
