<div class="container-fluid" id="seek-intro">
  <div class="row">
    <div class="col-md-3 text-center">
      <h4> Psalms 27:4</h4>
      <p> One thing I ask from the Lord, </p>
      <p> this only do I seek: </p>
      <p> that I may dwell in the house of the Lord </p>
      <p> all the days of my life, </p>
      <p> to gaze on the beauty of the Lord </p>
      <p> and to seek him in his temple. </p>

    </div>
    <div class="col-md-6 text-center">
      	<img class="img-responsive" src="https://yhwhapparel.files.wordpress.com/2017/04/18111235_2048845902009907_1875276367_o.jpg"/>
        <h4> LIMITED EDITION </h4>
    </div>
    <div class="col-md-3">
      <h4> INTRODUCING SEEK </h4>
      <p> To seek. </p>
      <p> To search after. </p>
      <p> When the waves seem to be rising faster and our heart seems to be tossed around.
        When we feel like we keep hitting the same wall over and over again. When there’s no
        improvement. In him. In her. In us. It leaves us tired and weary, beaten down.
      But in times like this, we MUST remind ourselves of His promises. Even if our minds
      can recite it, our hearts may not truly believe it. By praying and declaring His promises
      for us, we are speaking TRUTH over ourselves, so that darkness and hopelessness will not overcome us.
      His promises are the only thing that can sustain us. The only truth that will break our reality. </p>
    </div>
  </div>
</div>
<div class="container ig-container text-center">
  <hr>
  <div class="row" id="instagram">
  </div>
</div>

<script>
  var feed = new Instafeed({
    get: 'user',
    userId: '2189584280',
    target: 'instagram',
    accessToken: '2189584280.1677ed0.cf0a6d5a22d24fa7b54114142f5f10a3',
    limit: 9,
    resolution: 'standard_resolution',
    template: '<div class="col-md-4 insta-col"><a href="{{link}}"><img src="{{image}}" height="307" width="307"></a></div>',
    after: function() {
      var el = document.getElementById('instagram');
      if (el.classList)
        el.classList.add('show');
      else
        el.className += ' ' + 'show';
    }
  });

  feed.run();
</script>
