<br>
<div class="container text-center slideshow">
<%= render "home/slideshow" %>
</div>

<div class="container text-center" id="instagram"></div>

<script>
  var feed = new Instafeed({
    get: 'user',
    userId: '2189584280',
    target: 'instagram',
    accessToken: '2189584280.1677ed0.cf0a6d5a22d24fa7b54114142f5f10a3',
    limit: 6,
    resolution: 'standard_resolution',
    after: function() {
      var el = document.getElementById('instagram');
      if (el.classList)
        el.classList.add('show');
      else
        el.className += ' ' + 'show';
    }
  });

  feed.run();
</script>
