<img class="img-responsive selah" src="https://yhwhapparel.files.wordpress.com/2017/05/1.png"/>
<img class="img-responsive selah" src="https://yhwhapparel.files.wordpress.com/2017/05/2.png"/>
<img class="img-responsive selah" src="https://yhwhapparel.files.wordpress.com/2017/05/3-e1493757766878.png"/>
<div class="container ig-container text-center">
  <hr>
  <div class="row" id="instagram">
  </div>
</div>

<script>
  var feed = new Instafeed({
    get: 'user',
    userId: '2189584280',
    target: 'instagram',
    accessToken: '2189584280.1677ed0.cf0a6d5a22d24fa7b54114142f5f10a3',
    limit: 9,
    resolution: 'standard_resolution',
    template: '<div class="col-md-4 insta-col"><a href="{{link}}"><img src="{{image}}" height="307" width="307"></a></div>',
    after: function() {
      var el = document.getElementById('instagram');
      if (el.classList)
        el.classList.add('show');
      else
        el.className += ' ' + 'show';
    }
  });

  feed.run();
</script>
