<br>
<div class="container text-center">
<a href="" data-toggle="modal" data-target="#hope-modal"><img src="https://yhwhapparel.files.wordpress.com/2016/07/hopemovement.png" alt=""></a>
</div>

<%= render "home/hope_modal" %>
