<div class="container">
  <h1> YHWH Chapter </h1>
  <p> YHWH is created out of the desire to spread the Word of God, and represent our
    identity in Christ. Our team is all about creativity, DOING, and trusting in Him.
    There is freedom to create and imagine- and no space for fear. We try, and we fail.
    We try, and sometimes we succeed. But throughout it all, we find our joy just
    knowing that God is with us. YHWH has been a crazy adventure with lots of ups
    and downs, but everything we have is a byproduct of His faithfulness. And now,
    we would like to grow YHWH Apparel. The vision was always to expand to other
    college campuses to share the Word, while sustainably growing the Berkeley
    chapter. And now, it’s time to act on it. Our team is crazy, a bit unstructured,
    full of ideas, but full of faith over and over again as we have a God who is
    always for us. Join us in our adventure, and be part of the YHWH family! </p>
  <p>-Serena Wang </p>
  <hr>
  <p> We are eager to have YHWH chapters located across California, because we are all
    about evangelism. Starting a chapter is one of the great opportunities that will
    allow us to share the good news to college students. We are currently based in
    Berkeley, CA and have been operating here for two years. Our desire is for
    YHWH to grow to other college campuses, so we can keep spreading the Gospel
    and the name of Jesus! </p>
  <p> Starting a chapter at your college would include: </p>
  <ul>
      <li> Recruiting and managing your own team </li>
      <li> Designing and producing your own apparel </li>
      <li> Having your own finances </li>
      <li> Planning/organizing on campus events </li>
      <li> Campus sales </li>
      <li> Meet the Team </li>
      <li> Fellowship partnerships </li>
  </ul>
  <p> Starting a chapter is basically yours to run, with little to no oversight
    from us. You will have your own finances, though we are able to help with start
    up costs for the first initial product. Everything you do is largely up to you,
    as long as it adheres with YHWH Apparel’s mission and vision: to evangelize, to
    represent, and to give back. </p>
  <p>There are many leadership opportunities available in creating your own chapter-
    you are initially running a startup and can tease out what works best for you and
    your team. </p>
  <p> You will be able to post your products on all of our social media sites:
    Facebook, Instagram, and website. Our staff will always be available for
    support, and will be checking in on you monthly to make sure that everything
    is running smoothly. </p>
</div>
