<div class="container">
  <img class="img-responsive center-block" src="https://yhwhapparel.files.wordpress.com/2017/06/yhwh-app-banner1.png">
  <img class="img-responsive center-block" src="https://yhwhapparel.files.wordpress.com/2017/06/19511675_10207420023378203_1703338937_n-e1498527939368.png">
  <p> YHWH is created out of the desire to spread the Word of God, and represent our
    identity in Christ. Our team is all about creativity, DOING, and trusting in Him.
    There is freedom to create and imagine- and no space for fear. We try, and we fail.
    We try, and sometimes we succeed. But throughout it all, we find our joy just
    knowing that God is with us. YHWH has been a crazy adventure with lots of ups
    and downs, but everything we have is a byproduct of His faithfulness. And now,
    we would like to grow YHWH Apparel. The vision was always to expand to other
    college campuses to share the Word, while sustainably growing the Berkeley
    chapter. And now, it’s time to act on it. Our team is crazy, a bit unstructured,
    full of ideas, but full of faith over and over again as we have a God who is
    always for us. Join us in our adventure, and be part of the YHWH family! </p>
  <p> In Christ, </p>
  <img class="img-responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/06/19244132_10207420009977868_819889661_n-e1498528145679.png">
  <p> Serena Wang </p>
  <p> Founder of YHWH Apparel </p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMdqvBzU8k5-FILl4i8__T0G3PF3gtzQLm8WSJJH7BJ4jjDA/viewform?usp=sf_link"><h2>Apply Now</h2></a>
  <hr>
  <h2> YHWH Chapter </h2>
  <p> We are eager to have YHWH chapters located across California, because we are all
    about evangelism. Starting a chapter is one of the great opportunities that will
    allow us to share the good news to college students. We are currently based in
    Berkeley, CA and have been operating here for two years. Our desire is for
    YHWH to grow to other college campuses, so we can keep spreading the Gospel
    and the name of Jesus! </p>
  <p> Starting a chapter at your college would include: </p>
  <ul>
      <li> Recruiting and managing your own team </li>
      <li> Designing and producing your own apparel </li>
      <li> Having your own finances </li>
      <li> Planning/organizing on campus events </li>
      <li> Campus sales </li>
      <li> Meet the Team </li>
      <li> Fellowship partnerships </li>
  </ul>
  <p> Starting a chapter is basically yours to run, with little to no oversight
    from us. You will have your own finances, though we are able to help with start
    up costs for the first initial product. Everything you do is largely up to you,
    as long as it adheres with YHWH Apparel’s mission and vision: to evangelize, to
    represent, and to give back. </p>
  <p>There are many leadership opportunities available in creating your own chapter-
    you are initially running a startup and can tease out what works best for you and
    your team. </p>
  <p> You will be able to post your products on all of our social media sites:
    Facebook, Instagram, and website. Our staff will always be available for
    support, and will be checking in on you monthly to make sure that everything
    is running smoothly. </p>
  <hr>
  <h2> Join Our Berkeley Staff </h2>
  <p> If you would like to join our YHWH Apparel staff at Berkeley for the 2017-
    2018 school year, there are several positions open. These positions are all
    semester-long requirements, with the option of extending it for the whole year.</p>
  <div class="berkeley-roles">
    <div class="row">
      <div class="col-md-4">
        <p><strong>Community Outreach</strong>: Connects with fellowships, local events,
          and non profit organizations. A large portion of our profit is donated to nonprofit
          causes, such as missionaries. This team member will be responsible for maintaining
          a list of contacts and following up on the various, established partnerships. </p>
      </div>
      <div class="col-md-4">
        <p><strong>Marketing</strong>: In charge of all social media channels (FB, IG, Youtube)
          and brand evangelizing. Works to create marketable content to advertise products and
          company. This can also include blogging on Wordpress, making videos, flyers, etc. </p>
      </div>
      <div class="col-md-4">
        <p><strong>Photography</strong>: Takes product pictures, staff pictures, and helps
          to create marketable content. There are also opportunities to do film work and
          create videos.</p>
        <p><i>*Knows how to use Photoshop/Lightroom*</i></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p><strong>Graphic Design</strong>: Creates apparel proposals, marketable content,
          and all product designs. If applying for this position, please include samples
          of artwork/designs. </p>
        <p><i>*Knows how to vectorize, use Adobe Illustrator, Photoshop*</i></p>
      </div>
      <div class="col-md-4">
        <p><strong>Operations</strong>: Keeps and updates inventory, maintains finances
          (purchases and payments), contacts screenprinters, and streamlines production process.</p>
        <p><i>*Knows how to use Excel*</i></p>
        <p><i>**Bonus points for being an organized, meticulous person**</i></p>
      </div>
      <div class="col-md-4">
        <p><strong>Website Development</strong>: Updates/maintains the website with new functions
          and improves UI experience.</p>
        <p><i>*Knows CSS, HTML, Javascript. Knows/willing to learn Ruby on Rails and Git*</i></p>
      </div>
    </div>
  </div>
  <p>If you are interested in a position that is not listed, feel free to propose
    your own position and responsibilities. Just indicate “OTHER” on the Google form.</p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMdqvBzU8k5-FILl4i8__T0G3PF3gtzQLm8WSJJH7BJ4jjDA/viewform?usp=sf_link"><h2>Apply Now</h2></a>
</div>
