<div class="container" id="missions">
	<h3>Community Outreach</h3>
  <hr>
	<p> In the book of Matthew, Jesus commands us to go and make disciples of all nations.
			More than simply through the clothing we wear or produce, YHWH Apparel wants
			to take up this call in action alongside the rest of the Church. And YOU are
			the Church! As you labor for the Lord, we want to partner with
			you and support you in the specific mission God has given you. As you are
			faithful to your part, we also want to be faithful with what God has given us. </p>
	<p> Applications to be sponsored are currently closed. Please check back again in the spring! </p>
	<hr>

	<h4> Sponsored Missionaries </h4>
	<div class="missions__intro">
		<p> Here are some friends that you’ve supported who have
				gone or are going somewhere on short term missions in response to this call of Jesus.
				Join us in praying for these individuals and the people they come across that the love of God would be known. </p>
	</div>

	<div class="row missions__row">
		<div class="col-md-3">
			<img class="img-responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/06/webp-net-resizeimage-1.jpg"/>
    </div>
    <div class="col-md-9">
      <h4>David</h4>
      <div class="missions__info">
        <span>Navajo Reservation, Arizona</span>
        <span>June 25, 2017 - July 3, 2017</span>
      </div>
      <p> The trip will mainly consist of serving with the local missionary that
        has been in the tribe reservation for 18 years and also the local church in
        the reservation. We will be helping to spread the gospel through VBS for the
        children and also in street evangelism. We will be focusing on many
        children that are often raised by single parents or grandparents because
        either one or both members of their parents take government funding and
        spend it gambling. </p>
    </div>
  </div>
	<div class="row missions__row">
		<div class="col-md-3">
			<div class="imgContainer">
				<img class="img-responsive left-block johannah" src="https://yhwhapparel.files.wordpress.com/2017/04/18119704_1474284429290804_1034277377_o-e1493160557718.jpg"/>
				<img class="img-responsive left-block isabella" src="https://yhwhapparel.files.wordpress.com/2017/04/18053095_1471105739608673_669146787_o-e1493160886808.jpg"/>
			</div>
		</div>
		<div class="col-md-9">
			<h4>Johannah and Isabella</h4>
      <div class="missions__info">
        <span>Greece</span>
        <span>May 19, 2017 - June 1, 2017</span>
      </div>
      <p> Isabella and Johannah will be sharing the gospel to Syrian refugees
        and native university students around the Athens area as well as
        partnering together with a local church to build an integration house
        that houses refugee families during transition periods. </p>
      <p> Johannah: I want to go because I have grown to see the reality
         that life is short and eternity is long, and the only
        worthy investment I can make is in people and their eternities. I
        want to share the treasure of the gospel with people in Greece, I
        want them to experience the love of Christ. Please pray that I may
        grow in dependence on God during this time and experience Matthew
        6:33 and John 15:4 coming alive, that financial constraints or fears
        may not keep me from doubting that God is my perfect provider, that
        I may grow to better know and understand God's heart for people and
        vision for my life through this trip, that I may be challenged to
        have a sense of urgency toward the reality of heaven and hell. </p>
      <p> Isabella: I hope to help stir some spiritual conversations with the
        people I meet and better understand the Greek culture and the overall
        climate towards the Syrian refugees. Plainly, I am scared.
        I have never taken this leap of faith in my Christian life before. </p>
		</div>
	</div>

	<div class="row missions__row">
		<div class="col-md-3">
			<img class="img-responsive left-block" src="https://yhwhapparel.files.wordpress.com/2017/04/briana-e1492731344151.jpg"/>
		</div>
		<div class="col-md-9">
			<h4> Briana </h4>
      <div class="missions__info">
        <span>Dublin, Ireland</span>
        <span>Mar 25, 2017 - Apr 1, 2017</span>
      </div>
			<p> In Ireland, we will be planning outreach strategies with local
				missionaries and going out to various campuses to share the gospel
				with fellow college students. I am so passionate about the hearts of
				the Irish students because of an unfortunate trend in society where a
				lot of students know facts about Christianity, but have been let down
				by the church or have false ideas of who God is. This story parallels
				my great grandmother's story, and I saw God redeem her life, so I cannot
				wait to see what God will do in Ireland! </p>
			<p> Please pray that students in Ireland can be exposed to the truth about
				God through the support of local ministries, as well as Cru. </p>
		</div>
	</div>

</div>

