<div class="container">
	<p>
		 Psalm 139:14 "I praise you, for I am fearfully and wonderfully made. Wonderful are your works; my soul knows it very well."
	</p>
	<hr>
	<p>God moves. The way He works and reveals Himself in each and every one of our lives in such specific and personalized ways is a testament of how He knows our hearts and of the love that He has for us as His children. In times of affliction and joy, our God is with us. We are constantly refined in His image, to be more Christ-like, and the best part is that God is so faithful in the process. We would love to hear how God is working in your life- it can be a <em>testimony, praise report, blessing, or anything God is teaching you</em>.</p>
	<p>It's up to you if you want to include your name/email or you can always leave it anonymous; we appreciate and rejoice at what God's doing in your life!</p>
	<hr>
	<p>
		<iframe height="550" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://yhwh.wufoo.com/embed/mdpzfmh1no38rx/">
		 &amp;lt;a href="https://yhwh.wufoo.com/forms/mdpzfmh1no38rx/"&amp;gt;Fill out my Wufoo form!&amp;lt;/a&amp;gt;
		</iframe>
	</p>
</div>
