<div class="row">
  <div class="col-md-9 basket-body">
    <%= render 'items_list', :order => current_order %>
  </div>
  <div class="col-md-3 order-summary-body">
    <%= render 'items_summary', :order => current_order %>
    <div class="checkout-button">
      <%= link_to "Checkout", checkout_path, :class => "btn yhwh-btn" %>
    </div>
  </div>
</div>
