<h4>Shopping Bag</h4>
<hr>
<div class="row">
  <div class="col-md-5">
    <p>Proudct<p>
  </div>
  <div class="col-md-3">
    <p>Quantity<p>
  </div>
  <div class="col-md-4">
    <p>Price</p>
  </div>
</div>
<% order.order_items.each do |item| %>
  <div class="row">
    <div class="col-md-5">
    <p><%= item.ordered_item.full_name %><p>
    </div>
    <div class="col-md-3">
      <p><%= item.quantity %><p>
    </div>
    <div class="col-md-4">
      <p><%= number_to_currency item.sub_total %></p>
    </div>
  </div>
<% end %>
