<h4>Order Summary</h4>
<hr>
<div class="checkout-totals">
  <p class="checkout-total-label">Sub-Total<span class="checkout-total-value"><%= number_to_currency order.total_before_tax %></span></p>
  <% if order.delivery_service %>
    <p class="checkout-total-label">Shipping<span class="checkout-total-value"><%= number_to_currency order.delivery_price + order.delivery_tax_amount %></span></p>
  <% end %>
  <p class="checkout-total-label">Tax<span class="checkout-total-value"><%= number_to_currency order.tax %></span></p>
  <p class="checkout-total-label">Total<span class="checkout-total-value"><%= number_to_currency order.total + order.delivery_price + order.delivery_tax_amount %></span></p>
</div>
