<div class="container">
  <h1> Prayer Wall </h1>

  <%= link_to 'Add release', new_release_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <ul class="prayers" style="list-style: none;">
    <% @prayers.each do |prayer| %>
      <li>
        <%= prayer.name %>,
        <%= prayer.prayer %>,
        <%= prayer.created_at.strftime("%b %d, %Y") %>
      </li>
    <% end %>
  </ul>

</div>


