<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.name }} · {{ store.name }} · Online Store Powered by Storenvy</title>
    <meta name="description" content="{{ page.description | strip_newlines | escape }} - Online Store Powered by Storenvy"/>
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <meta http-equiv="cleartype" content="on">
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,800,300' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Marcellus+SC|Amaranth|Arvo|Asap|Comfortaa|Cutive+Mono|Fjalla+One|Glegoo|Gochi+Hand|Grand+Hotel|Handlee|Homenaje|Lancelot|Dosis|Libre+Baskerville|Merriweather|oswald|Palatino+Linotype|Century+Gothic|Open+Sans|Oxygen|Varela|Varela+Round|Raleway|Rokkitt|Enriqueta|Miniver|Poiret+One|Bad+Script|Quicksand|Patrick+Hand+SC|Meie+Script|Amatic+SC|Great+Vibes|League+Script|Sacramento|Seaweed+Script|Satisfy' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ theme | theme_css_url }}" rel="stylesheet" />
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <style type="text/css" media="screen">
      body {
        {% if theme.use_theme_background %}
        background-image:url(/assets/themes/cooper/bg_cooper.png);
        {% elsif store.background_image != blank %}
        background-image:url({{ theme.background.url }});
        {% endif %}
      }
    </style>

    {{ page | open_graph_tags }}
    {{ head_content }}

    <script src="/assets/theme_cooper.js"></script>
  </head>

   <body id="{{ page.permalink }}-page" class="{{ page.permalink }} {{ page.category }}">
<script> $(function(){ $("#slideshow > div:gt(0)").hide(); setInterval(function() { $('#slideshow > div:first') .fadeOut(500) .next()  .fadeIn(500)  .end()  .appendTo('#slideshow'); },  4500);  });</script>
    {% if store.featured_promotion_text != blank %}
    <div id="promotion">
    </div>
    {% endif %}
    <div id="wrapper">
      <div id="container">
        <div id="mobile-header">
          <a id="drawer_button" href="javascript:;">Open Nav</a>
        </div> 
        <div id="header">
          <div id="store_info">
            {% if theme.show_store_name %}
            <h1 class="store_name"><a href="/" >{{store.name}}</a></h1>
           <p id="tagline">
             <!---------------------------- Tagline ---------------------------->
            


            
            Storenvy theme


            
            
             <!---------------------------- Tagline ---------------------------->

            </p>
            {% endif %}
          </div>
          <div id="banner">
            {% if store.banner_image != blank %}
              <a href="/"><img src="{{ theme.banner.url }}" alt="{{ store.name | escape }}"/></a>
            {% endif %}
          </div>
        </div><!-- end #header -->
          <div id="header_bottom">
            <ul id="nav">
                   <li><a href="/">Home</a></li> 
                  <li>
                    <a href="/products"><b>Shop</b></a>
                  </li>         

                {% for page in pages.custom %}
                <li><a href="{{ page.url }}" class="{{ page.permalink }}">{{ page.name }}</a></li>
                {% endfor %} 
                 <li><a href="{{ pages.faq.url }}">FAQ</a><br/></li>
                <li><a href="{{ pages.contact.url }}">Contact</a></li>     
                </ul>
       </div>
        <div id="content" {% if store.banner_image == blank and theme.show_store_name == false %} class="pad-top" {% endif %}>
          <div class="row">
            <div id="sidebar">
              <div class="sidebar-wrapper">
                {% if store.has_logo? and theme.show_logo %}
                <div id="logo">
                  <a href="/"><img src="{{store.logo_url}}" alt="{{ store.name | escape }}" width="160" height="160"/></a>
                </div>
                {% endif %}
                <div class="mobile-sidebar-content">
                  <h2 id="sidebar_store_name"><a href="{{ store.url }}">{{ store.name }}</a></h2>
                  <hr/>
                  <a href="http://www.storenvy.com/cart" class="checkout-link">Proceed to Checkout</a>
                  <hr/>
                </div>
                <ul id="nav">
                  <li>
                    <a href="/products">Shop All</a>
                  </li>
                  {% for nav_item in collections.nav %}
                    <li id="collection_{{nav_item.id}}_link">
                      <a href="{{nav_item.url}}">{{ nav_item.name }}</a>
                    </li>
                  {% endfor %}
                </ul>             
  
                <hr/>
                <ul id="buttons">
                  {% for page in pages.all %}
                    <li><a href="{{ page.url }}" class="{{ page.permalink }}">{{ page.name }}</a></li>
                  {% endfor %}
                  <li><a href="{{ store.marketplace_url }}" class="store_profile" target="_blank">Marketplace</a></li>
                </ul>
                {% if store.places != blank  %}
                <hr/>
                <ul id="places">
                  {% for place in store.places %}
                  <li><a href="{{place.url}}" target="_blank">{{ place.name }}</a></li>
                  {% endfor %}
                </ul>
               <ul>
               <hr/>
               <div id="searchbox">
                  <form action="/search" method="GET" class="storefront-search">
                    <input type="text" name="q" placeholder="Search" value="{{ search.term }}" />
                    <button type="submit">
                      <img src="/assets/storefront/search-icon.svg" width="15" height="15" alt="Search" />
                    </button>
                  </form>
                </div>
               </ul>
                {% endif %}
                <div class="mobile-sidebar-content">
                  <hr/>               
                </div>
              </div><!-- end .sidebar-wrapper -->

            </div><!-- end #sidebar -->

            <div id="main">
              {% if notice != blank %}
              <div id="success" class="flash-message">
                <p>{{ notice }}</p>
              </div>
              {% endif %}

              {% if error != blank %}
                <div id="error" class="flash-message">
                  <p>{{ error }}</p>
                </div>
              {% endif %}

              {{ page_content }}
            </div><!-- end #main-->
          </div>
        </div><!-- end #content -->
       
  <div id="footer">
<div id="boxes">
 <div>
 <!---------------------------- Footer message ---------------------------->

   Every design has been prayed upon, biblically inspired, and personally experienced. <br/> 100% of our profits will go towards charity and missionary trips.<br/><br/>
All for His glory.



 <!---------------------------- Footer message ---------------------------->
</div>
 <div id="searchbox">

 <form action="/search" method="GET" class="storefront-search">
                    <input type="text" name="q" placeholder="Search" value="{{ search.term }}" />
                    <button type="submit">
                      <img src="/assets/storefront/search-icon.svg" width="15" height="15" alt="Search" />
                    </button>
                  </form>


</div>
 <div id="footer_icons" style="border: none;">
<p style="font-size: 25px;">


{% for place in store.places %}
{% if place.name  contains 'Facebook' %} <a href="{{place.url}}"><i class="fa fa-facebook fa-lg"></i></a>{% endif %}
{% if place.name  contains 'Twitter' %} <a href="{{place.url}}"><i class="fa fa-twitter fa-lg"></i></a>{% endif %}
{% if place.name  contains 'Instagram' %} <a href="{{place.url}}"><i class="fa fa-instagram fa-lg"></i></a>{% endif %}
{% if place.name  contains 'Tumblr' %} <a href="{{place.url}}"><i class="fa fa-tumblr fa-lg"></i></a>{% endif %}
{% if place.name  contains 'Wordpress' %} <a href="{{place.url}}"><i class="fa fa-wordpress fa-lg"></i></a>{% endif %}
{% if place.name  contains 'Google' %} <a href="{{place.url}}"><i class="fa fa-google-plus"></i></a>{% endif %}
        
{% endfor %}   
   

</p>

</div>
<p id="copyright">
   {% if store.location != blank %}
                  <span class="footer-medium">{{ store.location }}</span>
                {% endif %}

                <span class="footer-small">©  {{ store.name }} 2016</span>
              
      
</p>
 
</div>

</div><!-- end footer --> 
 </div><!-- end #container -->
    </div><!-- end #wrapper -->
    <div class="clearfix"></div> 
    
  </body>
</html>
​