#designs {
  h2, h3, h4 {
    font-family: "Century Schoolbook";
  }

  h3 {
    margin-bottom: 0;
  }

  hr {
    margin: 15px 0;
  }

  .designs__title {
    margin-bottom: 20px;

    p {
      margin-top: 5px;
      color: #a8a8a8;
    }
  }

  .row {
    margin: 30px 0;
  }
}

.section {
  margin-top: 55px;
  margin-bottom: 55px;
}

#designs-page{
  margin-left: 10%;
  margin-right: 10%;
}
#yhwh-row {
  padding-left: 0px;
}
#mountain-img {
  width: 100%;
  max-width:200px;
}
#yhwh-img {
 width: 90%;
 max-width:200px;
}
#seek-des{
  left: 0%;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;

}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  font-size: .9em;
  line-height: 1;

}
