// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.selah, .missions-support {
	display: block;
	margin: auto;
	height: auto;
}

.selah {
	width: 50%;
}

.missions-support {
	width: 98%;
}


.insta-col a img {
  opacity: 1.0;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
}

.insta-col a img:hover {
  opacity: 0.6;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

#staff-bio {
  margin-top: 28px;
  position: relative;
  height: 300px;
  width: 300px;
}

#staff-img {
  border-radius: 50%;
  height: 80%;
  margin-bottom: 12px;
}

#staff-description {
  display: block;
}

#staff-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

#staff-name {
  font-size: 12px;
}
