// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-container {
  .home-banner {
    margin-bottom: 34px;

    img {
      width: 100%;
    }

  }

  #instagram {
    padding: 4px;

    .insta-col {
      padding: 10px;

      a {
        img {
          opacity: 1.0;
          transition: opacity 0.15s ease-in-out;
          -moz-transition: opacity 0.15s ease-in-out;
          -webkit-transition: opacity 0.15s ease-in-out;

          &:hover {
            opacity: 0.6;
            transition: opacity .15s ease-in-out;
            -moz-transition: opacity .15s ease-in-out;
            -webkit-transition: opacity .15s ease-in-out;
          }
        }
      }
    }
  }
}



