.missionaries {
  h4 {
    margin: 0 0 10px 0;
  }
}

#missionary-intro {
  margin-top: 10px;
  margin-bottom: 20px;
}
.missionary {
  padding-bottom: 15px;
}

#johannah {
  float: left;
  height: auto;
  width: 50.5%;
}
#isabella {
  float: left;
  height: auto;
  width: 48.7%;
}
