#missions {
  h3 {
    margin: 0;
  }

  .missions__intro {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .missions__header {
    margin-bottom: 40px;
  }

  .missions__row {
    padding: 20px 0;
  }

  img {
    padding: 5px;
  }

  .johannah {
    float: left;
    width: 50%;
  }
  .isabella {
    float: left;
    width: 50%;
  }

  h2, h3, h4 {
    font-family: "Century Schoolbook";
  }

  .missions__info {
    color: #a8a8a8;
    margin: 5px 0 15px 0;

    span:last-child {
      float: right;
    }

  }
}


