// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkout-totals {
}

.checkout-totals p {
  color: #888;
}

.checkout-total-label {
  text-align: left;
}

.checkout-total-value {
  float: right;
}

.order-total {
  color: #333333;
}

.basket-body {
  border-right: 1px solid #aaa;
}

.checkout-button {
  text-align: center;
  margin-top: 5vh;
}

.form-body {
  padding: 24px;
  margin-top: 16px;
}
