// Place all the styles related to the Prayers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#prayer-wall {
  position: relative;
  #prayer-list {
    h3 {
      text-align: center;
    }
    float: left;
    left: 19%;
    right: 30%;
    position: relative;
    width: 37vw;
    .container.prayers {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      overflow-y: scroll;
      padding-left: 0;
      margin-left: 0;
      width: 80vw;
    }
    .prayer {
      border-left: 4px solid #202020;
      word-wrap: break-word;
      display: inline-block;
      padding-left: 10px;
      margin:10px 0 10px 0;
      flex-grow: 1;
      max-width: 900px;
      overflow:visible;
      position: relative;
    }
  }

  #prayer-intro {
    position: relative;
    left: 15%;
    float: left;
    width: 23vw;
    h1 {
      text-align: center;
    }
    h4 {
      text-align: center;
    }

    #prayer-form {
      #prayer_name, #prayer_prayer{
        box-shadow: none;
        box-sizing: border-box;
        border: 2px solid #505050;
        border-radius: 4px;
      }
      .btn.btn-primary {
        background-color: white;
        color: black;
        margin-top: 3px;
        box-sizing: border-box;
        border: 2px solid #505050;
        border-radius: 4px;
      }
      .btn.btn-primary:hover {
        background-color: grey;
        color: white;
      }
    }
  }

}
