// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-panel {
  margin-bottom: 1.5vh;
}

.product-thumb {
  display: block;
  height: 39vh;
  // background-color: #888;
}

.product-thumb img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-link {
  color: black;
}

.product-link:hover {
  color: #888;
}

.product-panel p {
  color: #888;
}

.add-btn {
  color: white;
  background-color: #333333;
  border-radius: 0 !important;
  padding: 8px 16px !important;
}

.add-btn:hover, .add-btn:active, .add-btn:focus {
  border-color: #333333;
  color: #333333;
  background-color: white;
}
